In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("train_data.csv")

In [6]:
df.sample(15)

,Investor_ID,Age,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Education,Employment_Status,Marital_Status,Owns_Property,Has_Dependents,Investment_Sector,Has_Investment_Advisor,Investment_Failed
143617,MZDK431F55,24.0,129483.0,138299.0,711,101,1.0,3.36,48,0.40,PhD,Unemployed,Divorced,Yes,NO,Auto,True,0
48057,7P7XRA553R,54.0,NaN,116554.0,786,77,NaN,NaN,60,0.26,PhD,Self-employed,Divorced,Unknown,No,Business,True,0
15506,2GNGR7DM3Y,54.0,70869.0,37727.0,612,52,4.0,14.77,60,0.24,Bachelor's,Part-time,Married,Yes,Yes,Business,False,0
202619,WDYERTDZ74,65.0,62413.0,54847.0,419,47,3.0,22.01,60,0.50,PhD,Full-time,Married,No,Yes,Education,False,0
45110,786FEKG2IA,42.0,39094.0,132971.0,562,114,1.0,11.31,12,0.40,Bachelor's,Self-employed,Single,Yes,Yes,Auto,True,1
81883,D38UC29KE9,116.0,30441.0,195446.0,329,28,3.0,7.85,60,0.72,High School,Self-employed,Married,yes,No,Education,True,0
112760,I26O0VBG2O,56.0,72086.0,155233.0,710,100,NaN,19.79,12,0.61,Master's,Full-time,Married,Yes,Yes,Home,True,0
177277,SCYBCCH9UH,NaN,59604.0,127327.0,550,34,2.0,11.31,24,0.71,High School,Full-time,Married,No,Yes,Auto,True,0
83490,DCPRO6W29W,52.0,20413.0,16050.0,714,106,1.0,12.47,48,0.72,Bachelor's,Part-time,Single,No,yes,Education,False,0
35456,5OITHGJ02V,30.0,59330.0,218593.0,646,33,3.0,20.77,24,0.87,PhD,Unemployed,NaN,Yes,NO,Other,True,1
216422,YL9DD0EBJS,45.0,112256.0,45778.0,1082,1,2.0,20.38,48,0.44,PhD,Part-time,Marr,Yes,YES,Other,True,0
172071,RJ2SCE30GK,35.0,70555.0,210384.0,646,102,4.0,18.11,36,0.48,Master's,Unem,Marr,No,No,Other,False,0
213309,Y3362A0XF3,59.0,24137.0,85604.0,678,84,2.0,18.03,60,0.64,PhD,Unemployed,Marr,Yes,YES,Business,False,0
75179,C0ZVVYP0QR,66.0,94383.0,235661.0,465,87,2.0,4.11,36,0.42,PhD,Unemployed,Sgl,No,No,Business,False,0
205423,WU0XBF1260,33.0,78998.0,63834.0,383,58,1.0,12.42,36,0.51,High School,Full-time,Single,No,No,Auto,True,0

In [9]:
#Number_of_Active_Investments:
df['Number_of_Active_Investments'] = df['Number_of_Active_Investments'].replace({'Single': 1, 'TRUE':1.0 ,  'Auto': 1.0 ,   'Marr':2.0 ,  '1':1.0,  '2':2.0 ,  '3':3.0, '4':4.0})

In [10]:
#Investment_Duration  :
df['Investment_Duration'] = df['Investment_Duration'].replace({'36': 36 , '24':24 ,'60':60 , '12':12 ,'48': 48 ,'no': 0.0 , 'Ye':0.0 , "Master's":0.0})

In [11]:
#Employment_Status  :
df['Employment_Status'] = df['Employment_Status'].replace({'Part':'Part-time' ,'Full' : 'Full-time' , 'Self':'Self-employed' , 'Unem':'Unemployed' , 'Unemloyed':'Unemployed' ,'1':'Full-time','Yes':'Full-time'  })

In [12]:
#Marital_Status  :
df['Marital_Status'] = df['Marital_Status'].replace({'Div':'Divorced' , 'Sgl':'Single', 'Marr':'Married' , 'No':'Single'})

In [13]:
#Owns_Property :
df['Owns_Property'] = df['Owns_Property'].replace({'Ye':'Yes' ,'yes':'Yes','no':'No' , 'NO':'No' , 'YES':'Yes' ,'Maybe':'Unknown'  , 'YE':'Yes', 'ye':'Yes' , 'Home':'Yes' })

In [14]:
#Has_Dependents:
df['Has_Dependents'] = df['Has_Dependents'].replace({'Ye':'Yes' ,'yes':'Yes','no':'No' ,'ye':'Yes','YE':'Yes', 'NO':'No' , 'YES':'Yes' ,'Maybe':'Unknown' , 'TRUE':'Yes'})

In [15]:
df

,Investor_ID,Age,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Education,Employment_Status,Marital_Status,Owns_Property,Has_Dependents,Investment_Sector,Has_Investment_Advisor,Investment_Failed
0,0003HW9UAA,51.0,NaN,87300.0,358,13,3.0,18.10,12,0.85,Bachelor's,Part-time,NaN,No,No,Other,True,0
1,000ELHLBPV,37.0,81658.0,152598.0,792,23,4.0,14.06,24,0.86,PhD,Self-employed,NaN,Yes,No,Auto,False,1
2,000G6CHJON,NaN,NaN,77767.0,359,57,4.0,4.31,60,0.60,Master's,Unemployed,Married,No,No,Education,True,0
3,000K09D0JB,54.0,42344.0,13261.0,366,115,1.0,NaN,60,0.21,PhD,Part-time,Divorced,No,No,Education,True,0
4,000NTH4YTU,63.0,48898.0,193990.0,792,53,4.0,5.65,48,0.82,Master's,Self-employed,Married,Yes,No,Business,True,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225342,ZZZHT6VWO4,37.0,25394.0,NaN,527,12,2.0,NaN,24,0.17,Bachelor's,Unemployed,Married,Yes,Unknown,Education,False,1
225343,ZZZI5YOV9G,32.0,101616.0,101862.0,628,32,2.0,17.45,12,0.38,High School,Full-time,Single,Yes,No,Education,False,1
225344,ZZZMFPZFKE,NaN,102495.0,140375.0,764,82,4.0,23.82,24,0.63,High School,Full-time,Divorced,Yes,No,Other,False,0
225345,ZZZV1HB132,69.0,143661.0,157929.0,407,38,4.0,6.07,60,0.33,Master's,Part-time,Divorced,Yes,Yes,Home,False,0
225346,ZZZX015LV2,65.0,114515.0,95500.0,820,45,4.0,8.87,48,0.13,High School,Full-time,Single,No,No,Business,False,0

In [17]:
df.sample(20)

,Investor_ID,Age,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Education,Employment_Status,Marital_Status,Owns_Property,Has_Dependents,Investment_Sector,Has_Investment_Advisor,Investment_Failed
167480,QSHCRYCKN2,43.0,53745.0,48707.0,550,48,4.0,16.91,24,0.46,High School,Self-employed,Divorced,Yes,Yes,Education,True,1
152148,OCHK10P367,59.0,138446.0,NaN,806,94,4.0,24.21,24,0.52,High School,Self-employed,Divorced,Yes,Yes,Other,False,1
77126,CC4CJYND5M,29.0,41870.0,234504.0,811,48,4.0,4.01,12,0.38,PhD,Unemployed,Divorced,No,No,Other,True,0
21018,3D8KW0C6JZ,32.0,87232.0,205641.0,449,117,1.0,17.02,36,0.43,PhD,Full-time,NaN,Yes,No,Auto,False,0
61141,9RFNGEZFJ6,114.0,NaN,61501.0,501,39,1.0,8.59,60,0.46,Bachelor's,Self-employed,Divorced,Yes,Yes,Auto,False,0
11342,1SX92RHGUA,37.0,78874.0,158348.0,805,97,1.0,20.45,12,0.40,Master's,Full-time,Married,Yes,Yes,Other,True,0
3268,0IZ48SM2WA,41.0,140994.0,187945.0,480,114,3.0,13.63,48,0.86,Bachelor's,Self-employed,Divorced,Yes,No,Education,NaN,0
82102,D4MBYM61VY,43.0,148843.0,241949.0,538,15,2.0,23.85,24,0.33,Bachelor's,Unemployed,Married,No,Yes,Business,False,0
155017,OT6QEQ01RY,24.0,101561.0,NaN,838,18,2.0,4.82,60,0.56,Master's,Part-time,Divorced,Yes,Yes,Education,False,0
199518,VWH2ZWK82T,26.0,53572.0,207884.0,467,13,3.0,23.40,48,0.34,PhD,Self-employed,NaN,Yes,No,Home,False,0
32432,57GGNYCUEN,39.0,NaN,116544.0,673,68,1.0,18.09,60,0.23,Master's,Full-time,NaN,No,No,Other,True,0
73917,BTHMTV9DU5,44.0,NaN,103004.0,433,38,1.0,16.86,60,0.30,High School,Self-employed,Married,No,Yes,Other,True,0
64382,AAFZHGZZZ5,48.0,101967.0,140816.0,561,94,2.0,22.14,60,0.53,PhD,Full-time,Married,Yes,No,Home,True,1
161882,PWZ6703633,60.0,NaN,43157.0,503,54,4.0,16.63,60,0.76,PhD,Part-time,Married,No,No,Home,False,0
64538,ABFW3BYNFP,46.0,18303.0,11807.0,813,62,4.0,23.12,24,0.14,Bachelor's,Full-time,Divorced,No,Yes,Business,True,0
71273,BEH411KDYT,24.0,67070.0,216101.0,691,74,2.0,5.08,24,0.18,Bachelor's,Part-time,NaN,No,Yes,Auto,True,0
193581,UYM52T3U6R,18.0,101099.0,8084.0,724,102,1.0,16.95,48,0.85,Bachelor's,Full-time,Divorced,Yes,Yes,Home,True,0
168634,QYT0FNOCKU,50.0,NaN,194252.0,721,23,3.0,20.98,12,0.22,Bachelor's,Self-employed,NaN,Yes,Yes,Education,False,0
113387,I5Y91DSUSH,38.0,53386.0,19333.0,454,59,2.0,8.92,36,0.55,Master's,Unemployed,NaN,No,Yes,Education,True,0
15891,2ITV3AYLZJ,55.0,133933.0,154220.0,614,29,1.0,6.72,36,0.85,PhD,Unemployed,NaN,No,Yes,Business,False,0