In [408]:
import pandas as pd

In [409]:
df = pd.read_csv("train_data.csv")

In [410]:
df['Investment_Failed'].value_counts()

Investment_Failed
0    205694
1     19653
Name: count, dtype: int64

In [411]:
df = df[df['Age'] <= 85]

In [412]:
#Number_of_Active_Investments:
df['Number_of_Active_Investments'] = df['Number_of_Active_Investments'].replace({'Single': 1, 'TRUE':1.0 ,  'Auto': 1.0 ,   'Marr':2.0 ,  '1':1.0,  '2':2.0 ,  '3':3.0, '4':4.0})

In [413]:
#Investment_Duration  :
df['Investment_Duration'] = df['Investment_Duration'].replace({'36': 36 , '24':24 ,'60':60 , '12':12 ,'48': 48 ,'no': 0.0 , 'Ye':0.0 , "Master's":0.0})

In [414]:
#Employment_Status  :
df['Employment_Status'] = df['Employment_Status'].replace({'Part':'Part-time' ,'Full' : 'Full-time' , 'Self':'Self-employed' , 'Unem':'Unemployed' , 'Unemloyed':'Unemployed' ,'1':'Full-time','Yes':'Full-time'  })

In [415]:
#Marital_Status  :
df['Marital_Status'] = df['Marital_Status'].replace({'Div':'Divorced' , 'Sgl':'Single', 'Marr':'Married' , 'No':'Single'})

In [416]:
#Owns_Property :
df['Owns_Property'] = df['Owns_Property'].replace({'Ye':'Yes' ,'yes':'Yes','no':'No' , 'NO':'No' , 'YES':'Yes' ,'Maybe':'Unknown'  , 'YE':'Yes', 'ye':'Yes' , 'Home':'Yes' })

In [417]:
#Has_Dependents:
df['Has_Dependents'] = df['Has_Dependents'].replace({'Ye':'Yes' ,'yes':'Yes','no':'No' ,'ye':'Yes','YE':'Yes', 'NO':'No' , 'YES':'Yes' ,'Maybe':'Unknown' , 'TRUE':'Yes'})

In [418]:
df

,Investor_ID,Age,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Education,Employment_Status,Marital_Status,Owns_Property,Has_Dependents,Investment_Sector,Has_Investment_Advisor,Investment_Failed
0,0003HW9UAA,51.0,NaN,87300.0,358,13,3.0,18.10,12,0.85,Bachelor's,Part-time,NaN,No,No,Other,True,0
1,000ELHLBPV,37.0,81658.0,152598.0,792,23,4.0,14.06,24,0.86,PhD,Self-employed,NaN,Yes,No,Auto,False,1
3,000K09D0JB,54.0,42344.0,13261.0,366,115,1.0,NaN,60,0.21,PhD,Part-time,Divorced,No,No,Education,True,0
4,000NTH4YTU,63.0,48898.0,193990.0,792,53,4.0,5.65,48,0.82,Master's,Self-employed,Married,Yes,No,Business,True,0
5,000RPXGXRU,53.0,30884.0,13057.0,455,17,3.0,22.69,48,0.70,Bachelor's,Unemployed,Divorced,No,Yes,Education,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225341,ZZZDJ23OK9,30.0,118720.0,93079.0,619,51,1.0,5.41,60,0.65,High School,Unemployed,Married,No,Yes,Other,True,0
225342,ZZZHT6VWO4,37.0,25394.0,NaN,527,12,2.0,NaN,24,0.17,Bachelor's,Unemployed,Married,Yes,Unknown,Education,False,1
225343,ZZZI5YOV9G,32.0,101616.0,101862.0,628,32,2.0,17.45,12,0.38,High School,Full-time,Single,Yes,No,Education,False,1
225345,ZZZV1HB132,69.0,143661.0,157929.0,407,38,4.0,6.07,60,0.33,Master's,Part-time,Divorced,Yes,Yes,Home,False,0
225346,ZZZX015LV2,65.0,114515.0,95500.0,820,45,4.0,8.87,48,0.13,High School,Full-time,Single,No,No,Business,False,0

In [419]:
df.sample(20)

,Investor_ID,Age,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Education,Employment_Status,Marital_Status,Owns_Property,Has_Dependents,Investment_Sector,Has_Investment_Advisor,Investment_Failed
134550,LJTZACVWR3,61.0,148727.0,27863.0,670,50,1.0,13.10,48,0.64,High School,Unemployed,Divorced,No,Yes,Education,True,0
74985,BZUE7RN3MM,56.0,137622.0,165319.0,637,6,3.0,6.63,48,0.63,High School,Unemployed,Divorced,Yes,No,Home,True,0
8845,1ESNQJN03I,52.0,60611.0,228028.0,410,30,4.0,10.75,48,0.67,High School,Self-employed,Single,Yes,No,Home,False,0
132662,L8ZDT4785M,23.0,77257.0,246725.0,805,36,4.0,24.04,36,0.54,Bachelor's,Self-employed,Divorced,Yes,No,Auto,False,1
155106,OTSMG1YFAI,55.0,85479.0,158640.0,675,7,4.0,8.68,36,0.63,PhD,Unemployed,Divorced,Yes,Yes,Education,True,0
214855,YC7Z8QKS2N,34.0,58256.0,70986.0,1012,111,NaN,12.28,24,0.78,High School,Self-employed,NaN,No,No,Business,True,0
20601,3AN3JUTIO7,55.0,45998.0,28233.0,722,72,4.0,11.97,36,0.51,PhD,Self-employed,Divorced,No,No,Business,False,1
126548,K9PXQZF652,31.0,90538.0,167137.0,841,36,1.0,12.78,24,0.52,Bachelor's,Full-time,Divorced,Yes,No,Business,True,0
79624,CQSZJ87H3I,27.0,19251.0,117800.0,492,71,3.0,NaN,36,0.43,PhD,Unemployed,Divorced,Yes,Yes,Home,False,0
207332,X4QXM42QGD,38.0,80666.0,233635.0,445,102,3.0,13.32,24,0.74,High School,Full-time,Married,Yes,Yes,Auto,True,0
175505,S2NMA40YLD,32.0,100609.0,40265.0,611,41,3.0,11.22,24,0.18,Bachelor's,Unemployed,Married,Yes,No,Education,False,0
132082,L5MLKV42W1,62.0,140869.0,24728.0,783,103,4.0,13.62,48,0.57,PhD,Full-time,NaN,No,No,Education,False,1
56974,93HG5CJZ0Z,56.0,58256.0,228755.0,512,116,2.0,17.42,12,0.51,High School,Self-employed,Married,Yes,Yes,Home,False,0
458,02KADU34LV,31.0,141167.0,69254.0,730,103,3.0,24.29,24,0.80,Master's,Self-employed,Single,Yes,Yes,Business,False,0
164058,Q901IO8USL,41.0,146738.0,180156.0,619,26,4.0,16.70,60,0.20,Master's,Part-time,Divorced,Yes,No,Home,False,0
189484,UBLF7H9CJ4,36.0,132665.0,31412.0,407,119,3.0,11.47,48,0.54,PhD,Self-employed,NaN,Yes,Unknown,Business,False,0
35277,5NDQ8809HO,46.0,NaN,32593.0,559,78,3.0,5.30,36,0.19,Master's,Part-time,Married,Yes,No,Other,False,0
9802,1K6OPILH4F,59.0,110044.0,205460.0,407,118,3.0,12.38,24,0.39,High School,Full-time,Married,No,No,Home,True,0
62558,9ZSVM8A0QT,38.0,148905.0,146789.0,535,52,2.0,4.76,60,0.35,Master's,Self-employed,Single,No,No,Auto,False,0
202307,WCAOKGUOOL,28.0,124782.0,236589.0,1057,22,3.0,12.13,48,0.67,PhD,Unemployed,Single,Unknown,No,Auto,True,0

In [420]:
# Check for missing data
missing_values = df.isnull().sum()
print(missing_values)

Investor_ID                           0
Age                                   0
Annual_Income                     18611
Investment_Amount                 14861
Risk_Tolerance_Score                  0
Months_of_Investing_Experience        0
Number_of_Active_Investments       3706
Potential_Return_Rate              9206
Investment_Duration                   0
Investment_to_Income_Ratio            0
Education                             0
Employment_Status                     0
Marital_Status                    35500
Owns_Property                         0
Has_Dependents                        0
Investment_Sector                     0
Has_Investment_Advisor             3190
Investment_Failed                     0
dtype: int64

In [421]:
df['Age']

0         51.0
1         37.0
3         54.0
4         63.0
5         53.0
          ...
225341    30.0
225342    37.0
225343    32.0
225345    69.0
225346    65.0
Name: Age, Length: 185786, dtype: float64

In [422]:
from sklearn.impute import SimpleImputer
num_imputer = SimpleImputer(strategy='mean')
df[['Age']] = num_imputer.fit_transform(df[['Age']])
df[['Age']].isnull().sum()

Age    0
dtype: int64

In [423]:
from sklearn.impute import SimpleImputer
num_imputer = SimpleImputer(strategy='mean')
df[['Annual_Income']] = num_imputer.fit_transform(df[['Annual_Income']])
df[['Annual_Income']].isnull().sum()

Annual_Income    0
dtype: int64

In [424]:
from sklearn.impute import SimpleImputer
num_imputer = SimpleImputer(strategy='mean')
df[['Investment_Amount']] = num_imputer.fit_transform(df[['Investment_Amount']])
df[['Investment_Amount']].isnull().sum()

Investment_Amount    0
dtype: int64

In [425]:
from sklearn.impute import SimpleImputer
num_imputer = SimpleImputer(strategy='mean')
df[['Number_of_Active_Investments']] = num_imputer.fit_transform(df[['Number_of_Active_Investments']])
df[['Number_of_Active_Investments']].isnull().sum()

Number_of_Active_Investments    0
dtype: int64

In [426]:
from sklearn.impute import SimpleImputer
num_imputer = SimpleImputer(strategy='mean')
df[['Potential_Return_Rate']] = num_imputer.fit_transform(df[['Potential_Return_Rate']])
df[['Potential_Return_Rate']].isnull().sum()

Potential_Return_Rate    0
dtype: int64

In [427]:
from sklearn.impute import SimpleImputer
num_imputer = SimpleImputer(strategy='most_frequent')
df[['Marital_Status']] = num_imputer.fit_transform(df[['Marital_Status']])
df[['Marital_Status']].isnull().sum()

Marital_Status    0
dtype: int64

In [428]:
from sklearn.impute import SimpleImputer
num_imputer = SimpleImputer(strategy='most_frequent')
df[['Has_Investment_Advisor']] = num_imputer.fit_transform(df[['Has_Investment_Advisor']])
df[['Has_Investment_Advisor']].isnull().sum()

Has_Investment_Advisor    0
dtype: int64

In [429]:
# Check for missing data
missing_values = df.isnull().sum()
print(missing_values)

Investor_ID                       0
Age                               0
Annual_Income                     0
Investment_Amount                 0
Risk_Tolerance_Score              0
Months_of_Investing_Experience    0
Number_of_Active_Investments      0
Potential_Return_Rate             0
Investment_Duration               0
Investment_to_Income_Ratio        0
Education                         0
Employment_Status                 0
Marital_Status                    0
Owns_Property                     0
Has_Dependents                    0
Investment_Sector                 0
Has_Investment_Advisor            0
Investment_Failed                 0
dtype: int64

In [430]:
df

,Investor_ID,Age,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Education,Employment_Status,Marital_Status,Owns_Property,Has_Dependents,Investment_Sector,Has_Investment_Advisor,Investment_Failed
0,0003HW9UAA,51.0,82728.93822,87300.000000,358,13,3.0,18.100000,12,0.85,Bachelor's,Part-time,Divorced,No,No,Other,True,0
1,000ELHLBPV,37.0,81658.00000,152598.000000,792,23,4.0,14.060000,24,0.86,PhD,Self-employed,Divorced,Yes,No,Auto,False,1
3,000K09D0JB,54.0,42344.00000,13261.000000,366,115,1.0,13.414362,60,0.21,PhD,Part-time,Divorced,No,No,Education,True,0
4,000NTH4YTU,63.0,48898.00000,193990.000000,792,53,4.0,5.650000,48,0.82,Master's,Self-employed,Married,Yes,No,Business,True,0
5,000RPXGXRU,53.0,30884.00000,13057.000000,455,17,3.0,22.690000,48,0.70,Bachelor's,Unemployed,Divorced,No,Yes,Education,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225341,ZZZDJ23OK9,30.0,118720.00000,93079.000000,619,51,1.0,5.410000,60,0.65,High School,Unemployed,Married,No,Yes,Other,True,0
225342,ZZZHT6VWO4,37.0,25394.00000,126944.905421,527,12,2.0,13.414362,24,0.17,Bachelor's,Unemployed,Married,Yes,Unknown,Education,False,1
225343,ZZZI5YOV9G,32.0,101616.00000,101862.000000,628,32,2.0,17.450000,12,0.38,High School,Full-time,Single,Yes,No,Education,False,1
225345,ZZZV1HB132,69.0,143661.00000,157929.000000,407,38,4.0,6.070000,60,0.33,Master's,Part-time,Divorced,Yes,Yes,Home,False,0
225346,ZZZX015LV2,65.0,114515.00000,95500.000000,820,45,4.0,8.870000,48,0.13,High School,Full-time,Single,No,No,Business,False,0

In [431]:
# One-Hot Encoding (for nominal categorical data)
df = pd.get_dummies(df, columns=["Marital_Status"], drop_first=True)

In [432]:
df

,Investor_ID,Age,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Education,Employment_Status,Owns_Property,Has_Dependents,Investment_Sector,Has_Investment_Advisor,Investment_Failed,Marital_Status_Married,Marital_Status_Single
0,0003HW9UAA,51.0,82728.93822,87300.000000,358,13,3.0,18.100000,12,0.85,Bachelor's,Part-time,No,No,Other,True,0,False,False
1,000ELHLBPV,37.0,81658.00000,152598.000000,792,23,4.0,14.060000,24,0.86,PhD,Self-employed,Yes,No,Auto,False,1,False,False
3,000K09D0JB,54.0,42344.00000,13261.000000,366,115,1.0,13.414362,60,0.21,PhD,Part-time,No,No,Education,True,0,False,False
4,000NTH4YTU,63.0,48898.00000,193990.000000,792,53,4.0,5.650000,48,0.82,Master's,Self-employed,Yes,No,Business,True,0,True,False
5,000RPXGXRU,53.0,30884.00000,13057.000000,455,17,3.0,22.690000,48,0.70,Bachelor's,Unemployed,No,Yes,Education,False,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225341,ZZZDJ23OK9,30.0,118720.00000,93079.000000,619,51,1.0,5.410000,60,0.65,High School,Unemployed,No,Yes,Other,True,0,True,False
225342,ZZZHT6VWO4,37.0,25394.00000,126944.905421,527,12,2.0,13.414362,24,0.17,Bachelor's,Unemployed,Yes,Unknown,Education,False,1,True,False
225343,ZZZI5YOV9G,32.0,101616.00000,101862.000000,628,32,2.0,17.450000,12,0.38,High School,Full-time,Yes,No,Education,False,1,False,True
225345,ZZZV1HB132,69.0,143661.00000,157929.000000,407,38,4.0,6.070000,60,0.33,Master's,Part-time,Yes,Yes,Home,False,0,False,False
225346,ZZZX015LV2,65.0,114515.00000,95500.000000,820,45,4.0,8.870000,48,0.13,High School,Full-time,No,No,Business,False,0,False,True

In [433]:
#Investment_Duration  :
df['Marital_Status_Married'] = df['Marital_Status_Married'].replace({True: 1 , False:0})
df['Marital_Status_Single'] = df['Marital_Status_Single'].replace({True: 1 , False:0})
df['Has_Investment_Advisor'] = df['Has_Investment_Advisor'].replace({True: 1 , False:0})

C:\Users\feste\AppData\Local\Temp\ipykernel_1956\3121384132.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Marital_Status_Married'] = df['Marital_Status_Married'].replace({True: 1 , False:0})
C:\Users\feste\AppData\Local\Temp\ipykernel_1956\3121384132.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Marital_Status_Single'] = df['Marital_Status_Single'].replace({True: 1 , False:0})
C:\Users\feste\AppData\Local\Temp\ipykernel_1956\3121384132.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Has_Investment_Advisor'] = df['Has_Investment_Advisor'].replace({True: 1 , False:0})

In [434]:
df.sample(30)

,Investor_ID,Age,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Education,Employment_Status,Owns_Property,Has_Dependents,Investment_Sector,Has_Investment_Advisor,Investment_Failed,Marital_Status_Married,Marital_Status_Single
146150,NE7WUR5SGY,42.0,23181.00000,92987.000000,450,16,4.0,22.400000,36,0.23,Master's,Unemployed,No,Yes,Auto,1,0,0,0
84478,DIJQCM58I0,60.0,122843.00000,68526.000000,1011,56,2.0,24.030000,12,0.61,PhD,Unemployed,Yes,No,Other,0,0,0,0
147831,NNBQEVCNEE,30.0,104021.00000,184975.000000,827,15,2.0,9.070000,24,0.77,High School,Full-time,Yes,No,Other,0,0,1,0
11442,1TGXSQ7IV5,65.0,35936.00000,244581.000000,554,106,4.0,13.650000,12,0.50,PhD,Unemployed,No,No,Business,1,0,0,1
19414,33QEUCCF6V,56.0,47813.00000,220994.000000,738,50,2.0,19.290000,48,0.17,Bachelor's,Part-time,Yes,Yes,Home,1,0,0,0
104765,GRRONRS7ZG,19.0,67178.00000,206657.000000,447,99,2.0,15.960000,60,0.86,Master's,Self-employed,Unknown,No,Business,1,0,0,0
185305,TNNE61SPIY,25.0,82728.93822,42293.000000,747,44,4.0,13.450000,60,0.41,Master's,Unemployed,No,No,Auto,0,0,1,0
27342,4DCFVC0802,65.0,115752.00000,169419.000000,1032,99,2.0,2.040000,36,0.28,PhD,Part-time,No,Yes,Other,0,0,0,0
165514,QHA0SWDK2K,65.0,116287.00000,223037.000000,327,37,1.0,6.720000,60,0.46,PhD,Self-employed,No,No,Home,1,1,0,0
37345,5Z8AJJHJ86,43.0,125340.00000,232680.000000,1009,117,2.0,7.640000,36,0.24,PhD,Part-time,Yes,Yes,Auto,0,0,0,0
10351,1ND3RXQP8L,29.0,128513.00000,108429.000000,490,114,4.0,12.930000,48,0.17,PhD,Part-time,No,Yes,Business,0,0,0,1
22596,3M1VWPI49J,49.0,84078.00000,197892.000000,627,0,2.0,5.250000,36,0.76,Master's,Self-employed,No,No,Business,1,0,0,1
31190,505KMHP6OT,59.0,86073.00000,124448.000000,786,98,2.0,21.350000,24,0.66,PhD,Unemployed,No,Yes,Other,1,0,0,0
41584,6NVT895B63,52.0,108640.00000,156641.000000,1080,65,1.0,4.230000,36,0.43,Master's,Self-employed,Yes,Yes,Home,1,1,0,0
135316,LO9EW19UUK,63.0,81273.00000,11462.000000,329,79,3.0,13.414362,48,0.76,Bachelor's,Full-time,Yes,No,Auto,1,0,1,0
108739,HEX7ZNZ0BB,27.0,82728.93822,14288.000000,1049,82,2.0,3.670000,12,0.10,Bachelor's,Part-time,Yes,Yes,Other,1,0,0,0
131508,L2ANQPD5KR,65.0,74742.00000,157244.000000,392,107,2.0,8.040000,60,0.48,High School,Self-employed,Yes,No,Education,1,0,1,0
127791,KGXYK7I2S1,37.0,69031.00000,126944.905421,313,6,4.0,14.500000,36,0.86,High School,Full-time,Yes,Yes,Education,0,1,0,0
85895,DR3DPO7D34,46.0,143998.00000,228533.000000,590,53,1.0,13.540000,36,0.74,PhD,Unemployed,No,Yes,Education,0,0,1,0
56337,901TEZUZUZ,32.0,95911.00000,15948.000000,1031,6,3.0,20.530000,24,0.58,High School,Full-time,Yes,Yes,Home,0,0,1,0
127813,KH1ATDYN46,42.0,23420.00000,183686.000000,633,85,4.0,13.414362,24,0.89,Bachelor's,Part-time,No,No,Education,1,0,0,0
77829,CG42FQHYT0,66.0,144551.00000,149254.000000,589,56,4.0,12.720000,36,0.10,Bachelor's,Full-time,Yes,Yes,Business,0,0,0,0
45360,79MQ5W5KSX,20.0,116152.00000,128752.000000,431,99,3.0,6.170000,24,0.51,Master's,Self-employed,No,No,Business,1,0,1,0
193999,V0UYU1SRST,39.0,59797.00000,221215.000000,1002,18,1.0,23.240000,48,0.84,PhD,Retired,No,Yes,Home,0,0,1,0
205285,WT86L03S6E,19.0,97249.00000,121054.000000,509,58,2.0,8.340000,12,0.25,Master's,Full-time,Yes,No,Other,1,0,0,1
187634,U0Z8ZICSMQ,30.0,78572.00000,88479.000000,726,40,3.0,16.460000,60,0.76,High School,Unemployed,Yes,No,Education,0,0,1,0
28654,4KZHTENEBM,45.0,108818.00000,183211.000000,492,109,1.0,8.810000,12,0.15,High School,Full-time,No,Yes,Business,1,0,0,1
89353,EB9KAAHPDG,55.0,34202.00000,218717.000000,335,102,4.0,15.690000,24,0.53,PhD,Self-employed,No,No,Other,0,0,0,1
207682,X6S63N2ESL,64.0,91337.00000,106729.000000,1080,4,2.0,20.880000,24,0.33,Bachelor's,Unemployed,Yes,No,Auto,1,0,0,0
104136,GO6U6J17JU,37.0,137568.00000,69021.000000,510,49,3.0,19.540000,48,0.62,Master's,Full-time,No,Yes,Auto,0,0,0,0

In [435]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder


# Define the categories in order (from lowest to highest)
education_order = ['High School', "Bachelor's", "Master's", 'PhD']

# Create OrdinalEncoder with specified order
ordinal_encoder = OrdinalEncoder(categories=[education_order])

# Apply ordinal encoding
df['Education'] = ordinal_encoder.fit_transform(df[['Education']])

# View the DataFrame with the encoded column

In [436]:
df

,Investor_ID,Age,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Education,Employment_Status,Owns_Property,Has_Dependents,Investment_Sector,Has_Investment_Advisor,Investment_Failed,Marital_Status_Married,Marital_Status_Single
0,0003HW9UAA,51.0,82728.93822,87300.000000,358,13,3.0,18.100000,12,0.85,1.0,Part-time,No,No,Other,1,0,0,0
1,000ELHLBPV,37.0,81658.00000,152598.000000,792,23,4.0,14.060000,24,0.86,3.0,Self-employed,Yes,No,Auto,0,1,0,0
3,000K09D0JB,54.0,42344.00000,13261.000000,366,115,1.0,13.414362,60,0.21,3.0,Part-time,No,No,Education,1,0,0,0
4,000NTH4YTU,63.0,48898.00000,193990.000000,792,53,4.0,5.650000,48,0.82,2.0,Self-employed,Yes,No,Business,1,0,1,0
5,000RPXGXRU,53.0,30884.00000,13057.000000,455,17,3.0,22.690000,48,0.70,1.0,Unemployed,No,Yes,Education,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225341,ZZZDJ23OK9,30.0,118720.00000,93079.000000,619,51,1.0,5.410000,60,0.65,0.0,Unemployed,No,Yes,Other,1,0,1,0
225342,ZZZHT6VWO4,37.0,25394.00000,126944.905421,527,12,2.0,13.414362,24,0.17,1.0,Unemployed,Yes,Unknown,Education,0,1,1,0
225343,ZZZI5YOV9G,32.0,101616.00000,101862.000000,628,32,2.0,17.450000,12,0.38,0.0,Full-time,Yes,No,Education,0,1,0,1
225345,ZZZV1HB132,69.0,143661.00000,157929.000000,407,38,4.0,6.070000,60,0.33,2.0,Part-time,Yes,Yes,Home,0,0,0,0
225346,ZZZX015LV2,65.0,114515.00000,95500.000000,820,45,4.0,8.870000,48,0.13,0.0,Full-time,No,No,Business,0,0,0,1

In [437]:
df['Employment_Status'].value_counts()

Employment_Status
Part-time        46542
Self-employed    46387
Full-time        46263
Unemployed       45850
Retired            744
Name: count, dtype: int64

In [438]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder


# Define the categories in order (from lowest to highest)
employment_status_order = ["Retired", 'Unemployed', "Self-employed", "Part-time", 'Full-time']

# Create OrdinalEncoder with specified order
ordinal_encoder = OrdinalEncoder(categories=[employment_status_order])

# Apply ordinal encoding
df['Employment_Status'] = ordinal_encoder.fit_transform(df[['Employment_Status']])

In [439]:
df

,Investor_ID,Age,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Education,Employment_Status,Owns_Property,Has_Dependents,Investment_Sector,Has_Investment_Advisor,Investment_Failed,Marital_Status_Married,Marital_Status_Single
0,0003HW9UAA,51.0,82728.93822,87300.000000,358,13,3.0,18.100000,12,0.85,1.0,3.0,No,No,Other,1,0,0,0
1,000ELHLBPV,37.0,81658.00000,152598.000000,792,23,4.0,14.060000,24,0.86,3.0,2.0,Yes,No,Auto,0,1,0,0
3,000K09D0JB,54.0,42344.00000,13261.000000,366,115,1.0,13.414362,60,0.21,3.0,3.0,No,No,Education,1,0,0,0
4,000NTH4YTU,63.0,48898.00000,193990.000000,792,53,4.0,5.650000,48,0.82,2.0,2.0,Yes,No,Business,1,0,1,0
5,000RPXGXRU,53.0,30884.00000,13057.000000,455,17,3.0,22.690000,48,0.70,1.0,1.0,No,Yes,Education,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225341,ZZZDJ23OK9,30.0,118720.00000,93079.000000,619,51,1.0,5.410000,60,0.65,0.0,1.0,No,Yes,Other,1,0,1,0
225342,ZZZHT6VWO4,37.0,25394.00000,126944.905421,527,12,2.0,13.414362,24,0.17,1.0,1.0,Yes,Unknown,Education,0,1,1,0
225343,ZZZI5YOV9G,32.0,101616.00000,101862.000000,628,32,2.0,17.450000,12,0.38,0.0,4.0,Yes,No,Education,0,1,0,1
225345,ZZZV1HB132,69.0,143661.00000,157929.000000,407,38,4.0,6.070000,60,0.33,2.0,3.0,Yes,Yes,Home,0,0,0,0
225346,ZZZX015LV2,65.0,114515.00000,95500.000000,820,45,4.0,8.870000,48,0.13,0.0,4.0,No,No,Business,0,0,0,1

In [440]:
df['Has_Dependents'].value_counts()

Has_Dependents
Yes        91527
No         91396
Unknown     2863
Name: count, dtype: int64

In [441]:
df = pd.get_dummies(df, columns=["Has_Dependents"], drop_first=True)

In [442]:
df['Has_Dependents_Unknown'] = df['Has_Dependents_Unknown'].replace({True: 1 , False:0})
df['Has_Dependents_Yes'] = df['Has_Dependents_Yes'].replace({True: 1 , False:0})

C:\Users\feste\AppData\Local\Temp\ipykernel_1956\15995510.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Has_Dependents_Unknown'] = df['Has_Dependents_Unknown'].replace({True: 1 , False:0})
C:\Users\feste\AppData\Local\Temp\ipykernel_1956\15995510.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Has_Dependents_Yes'] = df['Has_Dependents_Yes'].replace({True: 1 , False:0})

In [443]:
df

,Investor_ID,Age,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Education,Employment_Status,Owns_Property,Investment_Sector,Has_Investment_Advisor,Investment_Failed,Marital_Status_Married,Marital_Status_Single,Has_Dependents_Unknown,Has_Dependents_Yes
0,0003HW9UAA,51.0,82728.93822,87300.000000,358,13,3.0,18.100000,12,0.85,1.0,3.0,No,Other,1,0,0,0,0,0
1,000ELHLBPV,37.0,81658.00000,152598.000000,792,23,4.0,14.060000,24,0.86,3.0,2.0,Yes,Auto,0,1,0,0,0,0
3,000K09D0JB,54.0,42344.00000,13261.000000,366,115,1.0,13.414362,60,0.21,3.0,3.0,No,Education,1,0,0,0,0,0
4,000NTH4YTU,63.0,48898.00000,193990.000000,792,53,4.0,5.650000,48,0.82,2.0,2.0,Yes,Business,1,0,1,0,0,0
5,000RPXGXRU,53.0,30884.00000,13057.000000,455,17,3.0,22.690000,48,0.70,1.0,1.0,No,Education,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225341,ZZZDJ23OK9,30.0,118720.00000,93079.000000,619,51,1.0,5.410000,60,0.65,0.0,1.0,No,Other,1,0,1,0,0,1
225342,ZZZHT6VWO4,37.0,25394.00000,126944.905421,527,12,2.0,13.414362,24,0.17,1.0,1.0,Yes,Education,0,1,1,0,1,0
225343,ZZZI5YOV9G,32.0,101616.00000,101862.000000,628,32,2.0,17.450000,12,0.38,0.0,4.0,Yes,Education,0,1,0,1,0,0
225345,ZZZV1HB132,69.0,143661.00000,157929.000000,407,38,4.0,6.070000,60,0.33,2.0,3.0,Yes,Home,0,0,0,0,0,1
225346,ZZZX015LV2,65.0,114515.00000,95500.000000,820,45,4.0,8.870000,48,0.13,0.0,4.0,No,Business,0,0,0,1,0,0

In [444]:
df['Owns_Property'].value_counts()

Owns_Property
Yes        91882
No         91097
Unknown     2807
Name: count, dtype: int64

In [445]:
df = pd.get_dummies(df, columns=["Owns_Property"], drop_first=True)

In [446]:
df

,Investor_ID,Age,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,...,Employment_Status,Investment_Sector,Has_Investment_Advisor,Investment_Failed,Marital_Status_Married,Marital_Status_Single,Has_Dependents_Unknown,Has_Dependents_Yes,Owns_Property_Unknown,Owns_Property_Yes
0,0003HW9UAA,51.0,82728.93822,87300.000000,358,13,3.0,18.100000,12,0.85,...,3.0,Other,1,0,0,0,0,0,False,False
1,000ELHLBPV,37.0,81658.00000,152598.000000,792,23,4.0,14.060000,24,0.86,...,2.0,Auto,0,1,0,0,0,0,False,True
3,000K09D0JB,54.0,42344.00000,13261.000000,366,115,1.0,13.414362,60,0.21,...,3.0,Education,1,0,0,0,0,0,False,False
4,000NTH4YTU,63.0,48898.00000,193990.000000,792,53,4.0,5.650000,48,0.82,...,2.0,Business,1,0,1,0,0,0,False,True
5,000RPXGXRU,53.0,30884.00000,13057.000000,455,17,3.0,22.690000,48,0.70,...,1.0,Education,0,0,0,0,0,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225341,ZZZDJ23OK9,30.0,118720.00000,93079.000000,619,51,1.0,5.410000,60,0.65,...,1.0,Other,1,0,1,0,0,1,False,False
225342,ZZZHT6VWO4,37.0,25394.00000,126944.905421,527,12,2.0,13.414362,24,0.17,...,1.0,Education,0,1,1,0,1,0,False,True
225343,ZZZI5YOV9G,32.0,101616.00000,101862.000000,628,32,2.0,17.450000,12,0.38,...,4.0,Education,0,1,0,1,0,0,False,True
225345,ZZZV1HB132,69.0,143661.00000,157929.000000,407,38,4.0,6.070000,60,0.33,...,3.0,Home,0,0,0,0,0,1,False,True
225346,ZZZX015LV2,65.0,114515.00000,95500.000000,820,45,4.0,8.870000,48,0.13,...,4.0,Business,0,0,0,1,0,0,False,False

In [447]:
df['Owns_Property_Unknown'] = df['Owns_Property_Unknown'].replace({True: 1 , False:0})
df['Owns_Property_Yes'] = df['Owns_Property_Yes'].replace({True: 1 , False:0})

C:\Users\feste\AppData\Local\Temp\ipykernel_1956\2882662186.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Owns_Property_Unknown'] = df['Owns_Property_Unknown'].replace({True: 1 , False:0})
C:\Users\feste\AppData\Local\Temp\ipykernel_1956\2882662186.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Owns_Property_Yes'] = df['Owns_Property_Yes'].replace({True: 1 , False:0})

In [448]:
df["Investment_Sector"].value_counts()

Investment_Sector
Home         37359
Business     37199
Other        37158
Education    37091
Auto         36979
Name: count, dtype: int64

In [449]:
df = pd.get_dummies(df, columns=["Investment_Sector"], drop_first=True)

In [450]:
df

,Investor_ID,Age,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,...,Marital_Status_Married,Marital_Status_Single,Has_Dependents_Unknown,Has_Dependents_Yes,Owns_Property_Unknown,Owns_Property_Yes,Investment_Sector_Business,Investment_Sector_Education,Investment_Sector_Home,Investment_Sector_Other
0,0003HW9UAA,51.0,82728.93822,87300.000000,358,13,3.0,18.100000,12,0.85,...,0,0,0,0,0,0,False,False,False,True
1,000ELHLBPV,37.0,81658.00000,152598.000000,792,23,4.0,14.060000,24,0.86,...,0,0,0,0,0,1,False,False,False,False
3,000K09D0JB,54.0,42344.00000,13261.000000,366,115,1.0,13.414362,60,0.21,...,0,0,0,0,0,0,False,True,False,False
4,000NTH4YTU,63.0,48898.00000,193990.000000,792,53,4.0,5.650000,48,0.82,...,1,0,0,0,0,1,True,False,False,False
5,000RPXGXRU,53.0,30884.00000,13057.000000,455,17,3.0,22.690000,48,0.70,...,0,0,0,1,0,0,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225341,ZZZDJ23OK9,30.0,118720.00000,93079.000000,619,51,1.0,5.410000,60,0.65,...,1,0,0,1,0,0,False,False,False,True
225342,ZZZHT6VWO4,37.0,25394.00000,126944.905421,527,12,2.0,13.414362,24,0.17,...,1,0,1,0,0,1,False,True,False,False
225343,ZZZI5YOV9G,32.0,101616.00000,101862.000000,628,32,2.0,17.450000,12,0.38,...,0,1,0,0,0,1,False,True,False,False
225345,ZZZV1HB132,69.0,143661.00000,157929.000000,407,38,4.0,6.070000,60,0.33,...,0,0,0,1,0,1,False,False,True,False
225346,ZZZX015LV2,65.0,114515.00000,95500.000000,820,45,4.0,8.870000,48,0.13,...,0,1,0,0,0,0,True,False,False,False

In [451]:
df['Investment_Sector_Business'] = df['Investment_Sector_Business'].replace({True: 1 , False:0})
df['Investment_Sector_Education'] = df['Investment_Sector_Education'].replace({True: 1 , False:0})
df['Investment_Sector_Home'] = df['Investment_Sector_Home'].replace({True: 1 , False:0})
df['Investment_Sector_Other'] = df['Investment_Sector_Other'].replace({True: 1 , False:0})

C:\Users\feste\AppData\Local\Temp\ipykernel_1956\647257821.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Investment_Sector_Business'] = df['Investment_Sector_Business'].replace({True: 1 , False:0})
C:\Users\feste\AppData\Local\Temp\ipykernel_1956\647257821.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Investment_Sector_Education'] = df['Investment_Sector_Education'].replace({True: 1 , False:0})
C:\Users\feste\AppData\Local\Temp\ipykernel_1956\647257821.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Investment_Sector_Home'] = df['Investment_Sector_Home'].replace({True: 1 , False:0})
C:\Users\feste\AppData\Local\Temp\ipykernel_1956\647257821.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Investment_Sector_Other'] = df['Investment_Sector_Other'].replace({True: 1 , False:0})

In [461]:
from sklearn.model_selection import train_test_split  # Import the function

# Assuming 'target' is the column you want to predict
X = df.drop('Investment_Failed', axis=1)
X = df.drop('Investor_ID', axis=1)
y = df['Investment_Failed']

# Splitting into train and test sets (80/20 split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [462]:
print(X_train.dtypes)
print(y_train.dtypes)

Age                               float64
Annual_Income                     float64
Investment_Amount                 float64
Risk_Tolerance_Score                int64
Months_of_Investing_Experience      int64
Number_of_Active_Investments      float64
Potential_Return_Rate             float64
Investment_Duration                 int64
Investment_to_Income_Ratio        float64
Education                         float64
Employment_Status                 float64
Has_Investment_Advisor              int64
Investment_Failed                   int64
Marital_Status_Married              int64
Marital_Status_Single               int64
Has_Dependents_Unknown              int64
Has_Dependents_Yes                  int64
Owns_Property_Unknown               int64
Owns_Property_Yes                   int64
Investment_Sector_Business          int64
Investment_Sector_Education         int64
Investment_Sector_Home              int64
Investment_Sector_Other             int64
dtype: object
int64

In [473]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score

In [474]:
svc = SVC(kernel='sigmoid', gamma=1.0)
knc = KNeighborsClassifier()
mnb = MultinomialNB()
dtc = DecisionTreeClassifier(max_depth=5)
lrc = LogisticRegression(solver='liblinear', penalty='l1')
rfc = RandomForestClassifier(n_estimators=50, random_state=2)
abc = AdaBoostClassifier(n_estimators=50, random_state=2)
bc = BaggingClassifier(n_estimators=50, random_state=2)
etc = ExtraTreesClassifier(n_estimators=50, random_state=2)
gbdt = GradientBoostingClassifier(n_estimators=50,random_state=2)
xgb = XGBClassifier(n_estimators=50,random_state=2)

In [475]:
clfs = {
    'SVC' : svc,
    'KN' : knc, 
    'NB': mnb, 
    'DT': dtc, 
    'LR': lrc, 
    'RF': rfc, 
    'AdaBoost': abc, 
    'BgC': bc, 
    'ETC': etc,
    'GBDT':gbdt,
    'xgb':xgb

}

In [477]:
def train_classifier(clf,X_train,y_train,X_test,y_test):
    clf.fit(X_train,y_train)
    y_pred = clf.predict(X_test)
    accuracy = accuracy_score(y_test,y_pred)
    precision = precision_score(y_test,y_pred)
    
    return accuracy,precision

In [478]:
accuracy_scores = []
precision_scores = []

for name,clf in clfs.items():

    print(name)
    
    current_accuracy,current_precision = train_classifier(clf, X_train,y_train,X_test,y_test)
    
    print("For ",name)
    print("Accuracy - ",current_accuracy)
    print("Precision - ",current_precision)
    
    accuracy_scores.append(current_accuracy)
    precision_scores.append(current_precision)

SVC

C:\Users\feste\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

For  SVC
Accuracy -  0.9105710748694763
Precision -  0.0
KN

C:\Users\feste\AppData\Local\Programs\Python\Python312\Lib\site-packages\joblib\externals\loky\backend\context.py:136: UserWarning: Could not find the number of physical cores for the following reason:
[WinError 2] The system cannot find the file specified
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "C:\Users\feste\AppData\Local\Programs\Python\Python312\Lib\site-packages\joblib\externals\loky\backend\context.py", line 257, in _count_physical_cores
    cpu_info = subprocess.run(
               ^^^^^^^^^^^^^^^
  File "C:\Users\feste\AppData\Local\Programs\Python\Python312\Lib\subprocess.py", line 548, in run
    with Popen(*popenargs, **kwargs) as process:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\feste\AppData\Local\Programs\Python\Python312\Lib\subprocess.py", line 1026, in __init__
    self._execute_child(args, executable, preexec_fn, close_fds,
  File "C:\Users\feste\AppData\Local\Programs\Python\Python312\Lib\subprocess.py", line 1538, in _execute_child
    hp, ht, pid, tid = _winapi.CreateProcess(executable, args,
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

For  KN
Accuracy -  0.905296302276764
Precision -  0.2393617021276596
NB
For  NB
Accuracy -  0.5723397384143387
Precision -  0.11565749235474006
DT
For  DT
Accuracy -  1.0
Precision -  1.0
LR
For  LR
Accuracy -  1.0
Precision -  1.0
RF
For  RF
Accuracy -  1.0
Precision -  1.0
AdaBoost

C:\Users\feste\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\ensemble\_weight_boosting.py:527: FutureWarning: The SAMME.R algorithm (the default) is deprecated and will be removed in 1.6. Use the SAMME algorithm to circumvent this warning.
  warnings.warn(

For  AdaBoost
Accuracy -  1.0
Precision -  1.0
BgC
For  BgC
Accuracy -  1.0
Precision -  1.0
ETC
For  ETC
Accuracy -  1.0
Precision -  1.0
GBDT
For  GBDT
Accuracy -  1.0
Precision -  1.0
xgb
For  xgb
Accuracy -  1.0
Precision -  1.0